.area {
    height: 900px;
    width: 900px;
    overflow: hidden;
    position: relative;
    background-color: whitesmoke;
}

.figure {
    --rotate: 0deg;
    position: absolute;
    transform: translate(-50%, -50%) rotate(var(--rotate));
}
.figure svg {
    display: block;
}

.activeFigure {
    border: 3px solid gray;
}

.area dl {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: lightgreen;
}

.area dl dd,
.area dl dt {
    display: block;
    white-space: nowrap;
    margin: 0;
    padding: 5px;
}
.area dl dd {
    width: 120px;
    font-weight: bold;
}
.area dl dt {
    width: 60px;
}
