.toolbar {
    width: 100px;
    background-color: aquamarine;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section {
    
}

.button {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    background-color: gray;
}

.activeButton {
    background-color: springgreen;
    outline: 1px solid red;
}